.simpleIconCard {
    padding: 1.5rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 288px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border-radius: 16px;
}

.iconContainer {
    width: clamp(32px, 6rem, 96px);
    height: clamp(32px, 6rem, 96px);
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconImg {
width: 100%;

}

.title {
    margin-top: 2rem;
    margin-bottom: -0.25rem;
}

.description {
 text-align: center;
}