.simpleIconCard {
    background-color: var(--tertiary-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    width: clamp(288px, 25rem, 440px);
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    /* padding: 2rem; */
}

.simpleIconCard::after {
    box-shadow: 0 0 8px 4px var(--white) inset;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

.iconContainer {
    max-height: 250px;
}

.iconImg {
 object-fit:cover;
 height: clamp(200px, 22%, 250px);
 width: 100%;


}

.title {
    margin: 1.5rem;
    text-align: center;
    font-size: 2.25rem;
}

.description {
 text-align: center;
 margin: 1.5rem;
 margin-bottom: 2.5rem;
 font-size: 1.5rem;
}