.simpleIconCard {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 288px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border-radius: 16px;
}

.iconContainer {
    /* width: clamp(32px, 6rem, 96px);
    height: clamp(32px, 6rem, 96px);
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
}

.iconImg {
 /* width: clamp(32px, 6rem, 96px);
 height: clamp(32px, 6rem, 96px); */
 width: 100%;
 object-fit:fill;

}

.title {
    margin: 1.5rem;
    text-align: center;
}

.description {
 text-align: center;
 margin: 1.5rem;
 margin-bottom: 2.5rem;
}